################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ChatServer/.vs/ChatServer/v17
/NetServer/.vs/NetServer
/NetServer/NetServer/x64
/NetServer/x64
/ChatServer/ChatServer/x64
/ChatServer/x64
